# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables & Secrets
.env
config_secrets.py

# Audio Files & Raw Data
songs/
*.mp3
*.wav
*.flac
*.m4a
*.ogg

# OS / Editor specific
.DS_Store
Thumbs.db
.vscode/
.idea/