# Environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment variables & secrets
.env

# Large media & debug plots (keep clean repos)
*.mp3
*.wav
*.flac
*.png

# VS Code settings
.vscode/